.header{ width: 100%; height: 4.5rem; line-height: 4.5rem; padding: 0 1rem; box-sizing: border-box; background:#FFFFFF url(../img/a002.png) repeat-x bottom; text-align: center; position: fixed; left:0; top: 0; z-index: 10;} 
.header img{ height: 2rem; width: 1rem;}
.header .icon{ display: inline-block; width: 5rem; height: 1rem; position: absolute;padding: 0.5rem 0 0 1rem;left: 0; top: 0px;} 
.header span{  font-size: 1.8rem; line-height: 4rem;  }

.borderbottom{border-bottom: 1px solid #cccccc !important;}
.margintop4e{ margin-top: 4rem !important;}
.margintop9e{ margin-top: 9rem !important;}
input{ width: 100%;}
.register{ font-size: 1.3rem; float: right; color: #1B8BD7; display: inline-block;}
.loginbox{ padding:7.1rem 1rem 0; }
.loginboxin{ border-radius: 10px; background: #ffffff; padding: 0 1.6rem;}
 input[type='text'], input[type='tel'],input[type='password']{display: block;  font-size: 1.2rem;   height: 5.6rem;border:none; line-height: 5.6rem; }
.usename{  background:#FFFFFF url(../img/a003_r1_c1.png) no-repeat left center; padding-left: 4rem; box-sizing: border-box; background-size: 2rem 2rem;}
.password{background: url(../img/a003_r3_c2.png) no-repeat left center; padding-left: 4rem; box-sizing: border-box; background-size: 2rem 2rem;}


.wjmm{ float: right; font-size: 1.2rem; color: #8F8F8F; padding-top: 1.2rem;;}
.loginsim{ box-sizing: border-box; clear: both; width: 100%; border: none; background: #89c1e7; display: block; padding: 0 1rem; border-radius: 5px; height: 4.1rem; line-height: 100%; text-align: center; font-size: 2rem; margin-top: 7rem; color: #FFFFFF;}
.all{width: 100%;box-shadow: 1px -1px 10px 1px #cdcccd; position: relative;  overflow: hidden;}
.allbox{ width: 100%; overflow: hidden; }


.registerbox{ padding: 6.3rem 1rem 0;box-sizing:border-box;}
.inputmodle01{ border-radius: 5px; background-position: 1rem center; box-shadow: 1px 1px 0px 0px #dcdcde;}
.checkpass{ padding-left: 4.6rem; margin-top: 2.8rem;  height: 9.5rem; background: #FFFFFF url(../img/a003_r3_c2.png) no-repeat 1rem center;background-size: 2rem 2rem;  border-radius: 5px; box-shadow: 1px 1px 0px 0px #dcdcde;}

.repassword{ width: 100%; height: 4.7rem !important;}

.yzm { margin-top: 1.2rem;  height: 4.4rem;}
.yzm .inputyzm{ width: 56% !important; display: block; float: left; height: 4.4rem; box-sizing: border-box; padding: 0 1rem; color: #C6C6CB; border-radius: 5px; text-align: center; box-shadow: 1px 1px 0px 0px #dcdcde;}
.yzm a{ width: 39%; display: block;  height: 4.4rem;  float: right;  border-radius: 5px; line-height: 4.4rem; background: #27dba2; color: #FFFFFF; text-align: center; font-size: 1.8rem;}
.xieyi{ text-align: center; margin-top: 1rem;}
/*忘记密码*/
.fogetbox{ padding: 4.5rem 1rem 0; }
.fogetbox span{ width: 23%; float: left; display: inline-block; padding-left: 1rem; height: 4.7rem; line-height: 4.7rem;}
.tbrow{ overflow: hidden; }
.forgetpass{ margin-top: 2.8rem;  height: 9.5rem; background: #FFFFFF ;  border-radius: 5px; box-shadow: 1px 1px 0px 0px #dcdcde; position: relative;}
.forgetpass input{  width: 75%; float: left; display: inline-block;  padding-left: 1rem; }
.forgetpass .yzmfg{ width: 40%; float: left; }
.fogetbox .yzmfgbut{ display: inline-block; width: 9rem; height: 2.7rem; border: 1px solid #1B8BD7; text-align: center; line-height: 2.7rem; border-radius: 5px; float: right; margin-right: 10px; color: #1B8BD7; margin-top: 0.9rem;}




/*--------实名认证------*/
.smrz{ background: #1c8cd8;}
.smrz a{ color: #FFFFFF;}
.smrzbzbox2{ padding: 3.3rem 1rem 0;}
.smrzbzbox{ padding-top: 4.5rem;}
.smrzbz{ width: 100%;  height: 4rem; display: table;  background: #FFFFFF;}
.smrzbz span{ display: table-cell; font-size: 1.2rem; width: 33.333%; text-align: center; line-height: 4rem;}
.smrzbz span.on{ color:#1B8BD7 ;}
.smrzf{ border-radius: 5px; overflow: hidden; padding: 0 1rem; margin-bottom: 2rem; background: #FFFFFF;}
.smrzbz span.active{ ballboxackground:#1c8cd8 ; color: #FFFFFF;}



@font-face {font-family: 'yao';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}


/* 左边的导航*/
.leftnav{ width:50%; position: absolute; height: 100%; left: -50%; top: 0; }
.leftnav h2{  height: 8.5rem;  padding: 2.2rem 0 0 1rem;}
.txiang{ height: 5.3rem; line-height: 5.3rem; font-size: 1.6rem;}
.txiang img{ height: 100%; width: auto; float: left; margin-right:10%;}
.txiang a{ color: #000000;}
.leftnav ul{ padding: 3rem 0 0 2.3rem;}
.leftnav ul li{ height: 2rem; line-height: 2rem; font-size: 1.6rem; margin-bottom: 3rem;}
.leftnav ul li img{ height: 100%; float: left; width: auto; margin-right: 1.6rem;}



/*首页类型的头部样式*/
.indexbox{ padding:1rem 1rem 0; }
.iheader{ height: 4.8rem;  width: 100%; background: #FFFFFF; overflow: hidden; position: fixed; z-index: 1000;}
.iheader a.icon{ position: absolute; left: 2.5rem; top:1.2rem;}
.iheader a img{ height:2.1rem; width: auto ;}
.iheader .banner{  margin: 1.3rem auto 0;  display:block; height: 2.1rem; width: auto;}
/*index页面*/
.swipe-wrap {overflow: hidden;	position: relative;	}
.swipe-wrap img{width: 100%;  /*让我们的图片宽度是100%*/	max-height: 12.4rem;}
.swipe-wrap > figure {float: left;	width: 100%;position: relative;}
	
#circle{position: absolute; left:35%; height: 13px; bottom: 15px; z-index: 10;}
#circle li{width: 13px; background-color: #fff;float: left; margin: 0 5px; height: 13px; border-radius: 50%;}
#circle li.current{background-color:pink;}
.swipe{ position: relative;}
.loopimg{ height:12.4rem; margin-top: 6rem; overflow: hidden;}
.swipe figure{ margin: 0; padding: 0;} 


.tab{ height: 4.3rem; padding: 0.4rem; border-bottom: 1px solid  ;}
.tab p{ border:2px solid #1B8BD7; height: 2.5rem; line-height: 2.5rem; overflow: hidden; border-radius: 10px;}
.tab p a{ color: #1B8BD7; display: inline-block; width: 33.3%; text-align: center; border-right: 2px solid #1B8BD7;;}
.tab p a.last{ border-right: none;}
.tab p a:hover,.tab p a.on{ background: #1B8BD7; color: #FFFFFF;}

/*index  li*/
.conin li{ height: 11.6rem; list-style: none; padding: 0.5rem; background: #FFFFFF; border-radius: 10px; margin-bottom: 0.5rem;}
.conin li span{ font-size: 3em; color: #1B8BD7;}
.litopL{ margin-top: 20px; float: left;}
.litopr{  width: 6rem; height: 6rem;  float: right; margin-left: 10px; overflow: hidden; margin-top:0.6rem;}



/*.litopr canvas{ width:128px; height:128px;  }*/
.litop{	height: 7rem; border-bottom: 1px solid #C0C0C0; overflow: hidden;}
.conin .btom span{  font-size: 1em;}
.conin .btom{ height: 3.6rem; line-height: 3.6rem;}
.conin .btom span em{width:10px; height: 10px; border-radius: 5px; background: #4fcab8; display: inline-block; margin-right: 2px;}