<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>hello world</title>
    
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <style type="text/css">
    	    .ng-cloak{display:none;}  
    </style>
</head>
<body ng-cloak class="ng-cloak">
	<div class="allbox">
		
		 <div class="all">
		 	 <div class="leftnav">
		 	 <h2>
		 	 	 <div class="txiang"> <img src="../img/a003.jpg"/><a href="#">登录</a>/<a href="#">注册</a></div>
		 	 </h2>
		 	 <ul>
		 	 	<li><img src="../img/a002_r1_c1.jpg" alt="" /><span>投资理财</span></li>
		 	 	<li> <img src="../img/a002_r3_c1.jpg"/><span>投资理财</span></li>
		 	 	<li><img src="../img/a002_r5_c1.jpg" alt="" /><span>投资理财</span></li>
		 	 	
		 	 </ul>
		 </div>
	  	 <header class="iheader">
	   	   <a class="icon" href="#"><img src="../img/a001.jpg"/></a>
	   	   <img class="banner" src="../img/a005.jpg"/>
	   	
	   </header>
	   <div class="loopimg" ng-cloak   ng-controller="BannerCtrl">
	   	   <div id="slider" class="swipe">
			    <div class="swipe-wrap" >
			      <figure  ng-repeat="img in hjfimgs" >
			        <div class="wrap">
			        
			           <img ng-src={{img.image_resource_url}}    />
			        </div>
			      </figure>
			     
			    
			   
			    </div>
			    <ol id="circle">
			    	
			    	<li ng-repeat="img in hjfimgs" ng-class="{current:$index==0}" ></li>
			    	
			    </ol>
		  </div>
	   </div>
	   <div class="tab">
	   	  <p><a href="#" class="on">P2P项目</a><a href="#">转让专区</a><a href="#" class="last">其它</a></p>
	   </div>
	   <article class="indexbox">
	   	<div class="conin" ng-controller="IndexTenderCtrl">
				<ul>
					<li ng-repeat="tender in tenders"  ng-click="linkto($index)">
						<div class="litop">
							<div class="litopL">
								<span ng-bind="tender.borrow_year_rate"></span>%   <span ng-bind="tender.borrow_period"></span>个月   <span > {{tender.borrow_money/10000}}</span>万    
							</div>
							<div class="litopr">
								
									 <canvas onclick="alert(jdt.vesition)" class="jdt"  id="cv{{tender.borrow_id}}"></canvas>
							</div>
						</div>
						<div class="btom">
							<p class="fl"<b>ID{{tender.borrow_id}}</b> | {{tender.borrow_type_text}}</p>   <span class="fr"> <em></em>{{tender.repayment_type_text}}</span>
						</div>
					</li>
					
				</ul>
			</div>
		   	
	   </article>
	   <div class="bttom">
	   	
	   </div>
	  </div>
	</div>
	
	  
	   <script src="../sea-modules/seajs/sea.js" type="text/javascript" charset="utf-8"></script>
	  <script type="text/javascript">
		seajs.config({
	    	    base:"../sea-modules",
	    	    alias:{
	    	    	"jquery": "jquery/jquery.js",
	    	    	"ag": "angular/angular.js"
	    	    	
	    	    }
	    	});
	    	seajs.use("common/indexController");
	</script> 

</body>

</html>