<!DOCTYPE html>
<html ng-app="myapp">
	<head>
		<meta charset="utf-8">
		<title></title>
		 <script src="../sea-modules/seajs/sea.js" ></script>
		 <script>
	    	seajs.config({
	    	    base:"../sea-modules",
	    	    alias:{
	    	    	"jquery": "jquery/jquery.js",
	    	    	"ag": "angular/angular.js"
	    	    	
	    	    }
	    	});
	    	seajs.use("common/demo")
	    		
	    </script>
	</head>
<body ng-controller="BannerCtrl">
  serch: <input type="text" ng-model="seach" name="" id="" value="" />
  Sort by:
<select ng-model="orderProp">
  <option value="name">Alphabetical</option>
  <option value="age">Newest</option>
</select>


  
  
  <ul>
    <li ng-repeat="img in hjfimgs| filter:seach">
      {{img.banner_id}}
    <img ng-src={{img.image_resource_url}}   /> 
       <p>{{img.image_name}}</p>
    </li>
  </ul>
  
  
     <p>{{12.655555555| currency }}</p> 
	</body>
</html>
