<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>竞价单页系统欢迎您</title>
    <link href="../skins/base/common.css" rel="stylesheet" type="text/css"/>
    <link href="../skins/default/default.css" rel="stylesheet" type="text/css"/>
    <link href="../skins/base/index.css" rel="stylesheet" type="text/css"/>
    <link type="text/css" href="../skins/easyui/gray/easyui.css" rel="stylesheet"/>
    <link type="text/css" href="../skins/easyui/icon.css" rel="stylesheet" />
</head>
<body>
	<!-- Header -->
	#parse("header.vm")
	<!-- wrap -->
	<div class="wrap">
		<div class="content f_cb">
			<!-- leftbar -->
			<div class="col_side">
				<div class="menu_name">我的工具</div>
				<div class="menu_line">
					<div id="menuBar" class="menu_box">
					    <div class="meu color_tex" id="meu1" style="display:none;">
                            <h3 class="menu_title">
                                <em class="yel_line"></em>
                                <span class="mu_ico pro_ico pro_upload"></span>
                                <a href="../Manager/PagesDesign/Install.html">首页入驻</a>
                            </h3>
                        </div>
					    <div class="meu color_tex" id="meu2" style="display:none;">
                            <h3 class="menu_title">
                                <em class="yel_line"></em>
                                <span class="mu_ico pro_ico pro_list"></span>
                                <a href="../Manager/PagesDesign/DesignFrontpage.html">频道列表</a>
                            </h3>
                        </div>
                        <div class="meu color_tex" id="meu3" style="display:none;">
                            <h3 class="menu_title">
                                <em class="yel_line"></em>
                                <span class="mu_ico pro_ico pro_publish"></span>
                                <a href="../Manager/Publish/Summary.html">发布网站</a>
                            </h3>
                        </div>
					</div>
				</div>
			</div>
		    <!-- right box -->
			<div class="float_box">
				<!-- bread_title -->
				<div class="nsw_bread_tit">
				    <span class="nsw_add">当前位置：首页</span>
				</div>
				<div class="col_main">
					<!-- content_index -->
					<div class="bord_gray" id="userEdit">
						<div class="graybar_one f_cb">
							<div class="wel_name">个人信息</div>
							<span class="wel_revise" id="wel_revise" onclick="updateUser();">[ 修改 ]</span>
						</div>
						<div class="wel_info">
							<table cellspacing="0" cellpadding="0" class="admin_table table_class1" >
								<tr class="hideinfo" style="display:none;">
									<td class="td30"><label>姓   名：</label><input type="hidden"  id="userId"  value="$!{user.userId}"/><input type="hidden"  id="userType"  value="$!{user.userType}"/><em class="clear_bd"><input class="com_input admin_name" id="revise_name" type="text" style="border:1px solid #dcdcdc;padding:2px;height:20px;"/><i class="clear_x"></i></em></td>
									#if($!{user.userType}==0)
									<td class="td30"><label>部   门：</label><em class="clear_bd"><input class="com_input admin_name" id="revise_dept" type="text" style="border:1px solid #dcdcdc;padding:2px;height:20px;"/><i class="clear_x"></i></em></td>
									<td class="td30"><label>角色：</label><span>$!{user.roleName}</span></td>
									 #else
									
									 #end
									<td class="td10"></td>
								</tr>
								<tr class="hideinfo" style="display:none;">
									<td class="td30">
    									<label>手机号：</label>
    									<em class="clear_bd">
    									    <input class="com_input admin_name" id="revise_mobile" type="text" style="border:1px solid #dcdcdc;padding:2px;height:20px;"/><i class="clear_x"></i>
    									</em>
									</td>
									<td class="td30">
    									<label>E-mail：</label>
    									<em class="clear_bd">
    									    <input class="com_input admin_name" id="revise_email" type="text" style="border:1px solid #dcdcdc;padding:2px;height:20px;"/><i class="clear_x"></i>
    									</em>
									</td>
									<td class="td30"></td>
									<td class="td10"></td>
								</tr>
								<tr class="hidden">
									<td class="td30"><label>姓   名：</label><span class="revise_tit" id="name">#if($!{user.userType}==0)$!{user.fullName}#else$!{user.contactName}#end</span></td>
									#if($!{user.userType}==0)
									<td class="td30"><label>部   门：</label><span class="revise_tit" id="dept">$!{user.deptName}</span></td>
									<td class="td30"><label>角色：</label><span class="revise_tit"  id="role">$!{user.roleName}</span></td>
									 #else
									
									 #end

									<td class="td10"></td>
								</tr>
								<tr class="hidden">
									<td class="td30">
    									<label>手机号：</label>
    									<span class="revise_tit" id="mobile">$!{user.phoneNumber}</span>
									</td>
									<td class="td30">
    									<label>E-mail：</label>
    									<span class="revise_tit" id="email">$!{user.email}</span>
									</td>
									<td class="td30"></td>
									<td class="td10"></td>
								</tr>
								<tr class="hideinfo" style="display:none;">
									<td colspan="4"></td>
								</tr> 
								<tr class="showinfo">
									<td class="td30">登陆次数：$!{user.loginTimes} 次</td>
									<td class="td30">登陆IP：$!{user.loginIp}</td>
									<td class="td30"></td>
									<td class="td10"></td>
								</tr>
								<tr class="showinfo">
								    #if($!{user.loginTimes}==1)
									#else
									<td class="td30">上次登陆时间：$!{user.lastLoginTime}</td>
									#end
									#if($!{user.loginTimes}==1)
									#else
									<td class="td30">上次登陆IP：$!{user.lastloginip}</td>
									#end
									<td class="td30"></td>
									<td class="td10"></td>
								</tr>
							</table>
							<em class="wel_line hideinfo" style="display:none;"></em>
							<div class="admin_btn hideinfo"  style="display:none;">
    							<div class="save_btn" onclick="saveUser();">
    							    <em class="mini_ico"></em>保 存
    							</div>
							</div>						
						</div>
					</div>
					<div class="bord_gray f_mt25" id="passwordEdit">
						<div class="graybar_one f_cb">
							<div class="wel_name">密码</div>
							<span class="wel_revise" id="pass_revise" onclick="updatePassword();">[ 修改 ]</span>
						</div>				
						<div class="wel_info">
                            <table cellspacing="" cellpadding="0" class="admin_table table_class1 table_class2">
                                <tr class="passhow">
                                    <td class="td30">
                                        <label>旧密码</label>
                                        <input type="text" style="background:none;" value="******" id="password" disabled/>
                                    </td>
                                    <td class="td30"></td>
                                    <td class="td30"></td>
                                </tr>
                                <tr class="pashide" style="display:none;">
                                    <td class="td30">
                                        <label>旧密码</label>
                                        <em class="clear_bd">
                                            <input class="com_input" type="password"  style="background:none;border:1px solid #dcdcdc;padding:2px;height:20px;" value="" id="oldPassword"/><i class="clear_x" onclick="clearInput(this);"></i>
                                        </em>
                                    </td>
                                    <td class="td30"></td>
                                    <td class="td30"></td>
                                </tr>
                                <tr style="display:none;" class="hide">
                                    <td class="td30">
                                        <label>新密码</label>
                                        <em class="clear_bd">
                                            <input class="com_input" type="password" style="background:none;border:1px solid #dcdcdc;padding:2px;height:20px;" id="newPassword"/><i class="clear_x" onclick="clearInput(this);"></i>
                                        </em>
                                    </td>
                                    <td class="td30"></td>
                                    <td class="td30"></td>
                                </tr>
                                <tr style="display:none;" class="hide">
                                    <td class="td30">
                                        <label>确认密码</label>
                                        <em class="clear_bd">
                                            <input class="com_input" type="password" style="background:none;border:1px solid #dcdcdc;padding:2px;height:20px;" id="rePassword" /><i class="clear_x" onclick="clearInput(this);"></i>
                                        </em>
                                    </td>
                                    <td class="td30"></td>
                                    <td class="td30"></td>
                                </tr>
                                <tr style="display:none;" class="hide">
                                    <td class="td30">
                                        <label>验证码</label>
                                        <em class="clear_bd">
                                            <input class="com_input" type="text" id="valid" style="border:1px solid #dcdcdc;padding:2px;height:20px;"/><i class="clear_x" onclick="clearInput(this);"></i>
                                        </em>
                                    </td>
                                    <td class="td30">                                                   
                                        <span id="yanma">
                                            <a onclick="fleshCode(this,'../common/indexVerifyCode')">
                                                <img src="../common/indexVerifyCode" class="inputclear" id="myCode" />&nbsp;&nbsp;点击刷新验证码
                                            </a>
                                        </span>
                                    </td>
                                    <td class="td30"></td>
                                </tr>
                            </table>
                            <div class="admin_btn hide" style="display:none;">
                                <div class="save_btn" onclick="savePassword();">
                                    <em class="mini_ico"></em>保 存
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="foot" style="margin-top:50px;">
    	<div class="footer">
    	    Power By 深圳市牛商网络股份有限公司 V1.0 网址 http://www.nsw88.com Services@nsw88.com 服务热线： 400-333-087
    	</div>
	</div>
</body>
<script type="text/javascript" src="../js/easyui/jquery.min.js"></script>
<script type="text/javascript" src="../js/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../js/easyui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../js/nsw.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script>
$(document).ready(function(){
    //添加退出事件
    $("#logout").bind("click",function(){
        $.messager.confirm("确认消息框", "确定退出吗？", function(r){
            if(r){
                window.location.href =nsw.CommonUtil.wrapUrl("/user/logout");
            }
        });
    });
    
    //表单验证规则
    valida();
})

//点击修改个人信息
function updateUser(){
    $(".hideinfo").show();
    $(".hidden").hide();
    //姓名
    $("#revise_name").val($("#name").text());
    //部门
    $("#revise_dept").val($("#dept").text());
    //角色
    $("#revise_role").val($("#role").text());
    //手机号
    $("#revise_mobile").val($("#mobile").text());
    //邮箱
    $("#revise_email").val($("#email").text());
}

//清空input内容
function clearInput(obj){
	$(obj).siblings(".com_input").val("");
}

//表单验证规则
function valida(){
	$.extend($.fn.validatebox.defaults.rules, {
	    mobile: {//验证手机号码 
	        validator : function(value){
	            return /^(13|15|18)\d{9}$/i.test(value);
	        },
	        message : "手机号码格式不正确"
	    }
	});
	
	$.extend($.fn.validatebox.defaults.rules, {
        Email : {//验证邮箱
              validator : function(value) { 
                  if(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/i.test(value)){
                	  if(strlen(value)>20||strlen(value)<4){
                          return false;
                      }else{
                          return true;
                      }
                  } else {
                	  return false;
                  }
            },
            message : "请输入4-20个字符长度的邮箱"        
        }
    });
	$.extend($.fn.validatebox.defaults.rules, {
        pub : {// 中英文0-20字符
            validator : function(value) { 
                if(/^([A-Za-z0-9]|[\u4E00-\u9FA5])+$/i.test(value)){
                    if(strlen(value)>20||strlen(value)<0){
                        return false;
                    }else{
                        return true;
                    }
                }else{
                    return false;
                }
           }, 
           message : "请输入0-20个字符长度的中文、英文、数字"
        }
    });
    $.extend($.fn.validatebox.defaults.rules, {
        pubName : {// 中英文、数字4-20字符
            validator : function(value) { 
                if(/^([A-Za-z0-9]|[\u4E00-\u9FA5])+$/i.test(value)){
                    if(strlen(value)>20||strlen(value)<4){
                        return false;
                    }else{
                        return true;
                    }
                }else{
                    return false;
                }
           }, 
           message : "请输入4-20个字符长度的中文、英文、数字"
       }
    });
    $.extend($.fn.validatebox.defaults.rules, {
        password : {// 数字英文6-30字符
            validator : function(value) {
            	return /^[a-zA-Z][0-9][a-zA-Z][0-9][a-zA-Z][0-9]$/i.test(value);        
            }, 
            message : '请输入6位"字母+数字+字母+数字+字母+数字"的密码格式'
        }
    });
    $.extend($.fn.validatebox.defaults.rules, {  
        //必须和某个字段相等
        equalTo: {
            validator:function(value,param){
                return $(param[0]).val() == value;
            },
            message:"密码不匹配"
        }          
    });
	$("#revise_name").validatebox({
    	required:true,
    	validType:"pubName",
    	missingMessage:"请输入姓名"
	});
	$("#revise_dept").validatebox({
    	validType:"pub",
    	missingMessage:"请输入部门"
	});
	$("#revise_mobile").validatebox({
    	required:true,
    	validType:"mobile",
    	missingMessage:"请输入手机号码"
	}); 
	$("#revise_email").validatebox({
    	validType:"email",
    	missingMessage:"请输入邮箱"
	});
	$("#oldPassword").validatebox({
    	required:true,
    	validType:"password",
    	missingMessage:"请输入旧密码"
	});
	$("#newPassword").validatebox({
    	required:true,
    	validType:"password",
    	missingMessage:"请输入新密码"
	});
	$("#rePassword").validatebox({
    	required:true,
    	validType:"equalTo['#newPassword']",
    	missingMessage:"请再次输入新密码",
    	nvalidMessage:"两次输入密码不匹配"
	});
	$("#valid").validatebox({missingMessage:"请输入验证码"});
}

//个人信息保存
function saveUser(){
    var userId = $("#userId").val();
    var userType = $("#userType").val();
	if(!$("#revise_name").validatebox("isValid")){
        $("#revise_name").focus();
        return;
    }   
    if($("#revise_dept").length > 0 ){
        if(!$("#revise_dept").validatebox("isValid")){
            $("#revise_dept").focus();
        }
    } 
    if(!$("#revise_mobile").validatebox("isValid")){
    	$("#revise_mobile").focus();
        return;
    }
    if(!$("#revise_email").validatebox("isValid")){
    	$("#revise_email").focus();
        return;
    }
    var dataModel={};
        var userName = $("#revise_name").val();
        var deptName = $("#revise_dept").val();
        var phoneNumber = $("#revise_mobile").val();
        var email = $("#revise_email").val();
        dataModel.userId=userId;
        dataModel.userType=userType;
	    dataModel.userName=userName;
	    dataModel.deptName=deptName;
	    dataModel.phoneNumber=phoneNumber;
	    dataModel.email=email;
	    dataModel=JSON.stringify(dataModel);
    	$.messager.confirm("确认消息框", "确定要更新用户信息吗？", function(r) {
		    if (r) {
    			$.ajax({
    				type : "POST",
    				url : nsw.CommonUtil.wrapUrl("/user/updateUserInfo"),
    				data:{json:dataModel},
                    dataType:"json",
    				success : function(data) {
                        if(data.isSuc){
                            window.location.href = nsw.CommonUtil.wrapUrl("/user/main");  
    				        $.messager.alert("提示","修改信息成功！")
                        }
    			    }
    			});
		   }else {
		       window.location.href = nsw.CommonUtil.wrapUrl("/user/main");  
		   };
	   });
}

//点击修改密码
function updatePassword(){
	$(".hide").show();
	$(".passhow").hide();
	$(".pashide").show();
}

//刷新验证码
function fleshCode(obj,urlcode){
   urlcode = urlcode + "?time=" + Math.random();
   $(obj).children().attr("src",urlcode);
}

//保存修改密码
function savePassword(){
	if(!$("#oldPassword").validatebox("isValid")){
        $("#oldPassword").focus();
        return;
    }
    if(!$("#newPassword").validatebox("isValid")){
        $("#newPassword").focus();
        return;
    }
    if(!$("#rePassword").validatebox("isValid")){
        $("#rePassword").focus();
        return;
    }  
    if(!$("#valid").validatebox("isValid")){
        $("#valid").focus();
        return;
    }  
	var oldpassword=$("#oldPassword").val();
    var repassword=$("#rePassword").val();
    var inputCode=$("#valid").val();
	$.ajax({
        type: "POST",
        url: nsw.CommonUtil.wrapUrl("/user/updatepwd"),
		dataType: "json",
        data: {
   		    oldpassword: $("#oldPassword").val(),
   		    newpassword: $("#rePassword").val(),
	        inputCode: $("#valid").val()
        },
        success: function(data, textStatus) {
             if(data.msg == "0"){
            	$.messager.alert("消息提示","验证码为空","info"); 
             } else if(data.result == "1"){
            	$.messager.alert("消息提示","旧密码不能为空","info");
             } else if(data.msg == "3"){
    	        $.messager.alert("消息提示","新密码不能为空","info");
             } else if(data.msg == "5"){
    	        $.messager.alert("消息提示","验证码错误","info");
             } else if(data.msg == "6"){
    	        location.href = "main";
             } else if(data.msg == "7"){
                $.messager.alert("消息提示","旧密码不正确","info");
             } else if(data.msg == "10"){
                $.messager.alert("消息提示","新密码不能与旧密码相同","info");
             }
        },
		error: function (XMLHttpRequest, textStatus, errorThrown) {
			$.messager.alert("消息提示",textStatus+":"+errorThrown,"error");
		}
    });
}
</script>
</html>